.headerContainer {
	padding-inline: 10.3vw;
	padding-bottom: 0.3rem;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.5rem;

	border-bottom: 1px solid var(--secondary-light);
}

.logo {
	/* galaxy foldis gamo */
	width: clamp(110px, 14vw, 140px);
}

.nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.nav > a {
	padding-block: 2.55rem;
	border-bottom: 4px solid transparent;
	transition: 0.1s;
}

.nav > a:hover {
	border-bottom: 4px solid var(--primary);
}

.flexEnd {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 3vw;
	margin-left: auto;
}

.flexEnd button {
	border: none;
	background: transparent;
}

.flexEnd button:hover {
	cursor: pointer;
}

.flexEnd .profile {
	border-radius: 100px;
	border: 2px solid transparent;
	transition: 0.1s;
}

.flexEnd .profile:hover {
	border: 2px solid var(--primary);
}

.flexEnd .profile img {
	height: 3.125rem;
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
}

.hamburger > span {
	background-color: var(--secondary);
	width: 1.5rem;
	height: 4px;
}

@media screen and (max-width: 1200px) {
	.headerContainer {
		padding-inline: 5vw;
		border-bottom: 1px solid var(--secondary-light);
	}

	.header {
		gap: 5%;
		padding-block: 1.25rem;
		border: none;
	}

	.nav {
		display: none;
	}

	.hamburger {
		display: flex;
	}

	.flexEnd .profile img {
		height: 2.2rem;
	}
}
