.productSection {
	display: flex;
	padding-inline: 12.5vw;
	margin-bottom: 4.8rem;
}

.productSection .carouselContainer {
	width: 50%;
}

.productDetails {
	width: 100%;
	max-width: 28rem;

	height: 100%;
	margin-block: auto;
}

.productDetails h5 {
	color: var(--primary);
	font-size: 0.8125rem;
	font-weight: 700;
	letter-spacing: 0.125rem;
	text-transform: uppercase;

	margin-bottom: 1.7rem;
}

.productDetails > .starsContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	background-color: #f6f8fd;
	border-radius: 0.625rem;

	padding: 0.4rem 0.5rem;
	margin-block: 1rem;

	width: fit-content;
}

.productDetails > .starsContainer p {
	margin-inline: 0.5rem;
	font-size: 0.875rem;
	text-align: center;
}

.productDetails > h1 {
	font-size: 2.75rem;
	line-height: 3rem; /* 109.091% */
}

.productDetails > p {
	line-height: 1.625rem;
	margin-bottom: 1.75rem;
}

.priceContainer {
	display: flex;
	align-items: start;
	gap: 1.4rem;
}

.priceContainer .price {
	font-size: 1.75rem;
}

.priceContainer .discount {
	padding: 0.25rem 0.55rem;
	border-radius: 0.375rem;

	background-color: #ffeee2;
	color: var(--primary);
	font-weight: 700;
}

.originalPrice {
	font-weight: 700;
	text-decoration: line-through;
}

.addToCartContainer {
	width: 100%;

	display: flex;
	gap: 1rem;
}

.addToCartContainer > button {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	padding-block: 1.1rem;

	color: white;
	font-weight: 700;

	background-color: var(--primary);
	border-radius: 0.625rem;
	border: none;
	box-shadow: 0px 20px 50px -20px #ff7e1b;

	cursor: pointer;

	transition: 0.1s ease;
}

.addToCartContainer > button:active {
	opacity: 0.9;
	transform: translateY(1px);
}

.productSection img {
	width: 120px;
}

.reviewSection {
	padding-inline: 12.5vw;
}

.reviewSection > div {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: start;
}

.reviewSection > div h1 {
	font-size: 1.875rem;
	font-weight: 700;
	line-height: 3rem;
	margin-bottom: 2rem;
}

.writeReviewButton {
	background-color: var(--primary);
	border: none;
	border-radius: 0.625rem;

	color: white;
	font-weight: 700;

	padding: 0.85rem 4rem;
	margin-left: auto;

	cursor: pointer;
}

.writeReviewButton .longText {
	display: initial;
}

.writeReviewButton .shortText {
	display: none;
}

@media screen and (max-width: 1200px) {
	.productSection {
		flex-direction: column;
		padding-inline: 0;
	}

	.productDetails {
		padding-inline: 1.5rem;
		max-width: 98%;
	}

	.reviewSection {
		padding: 0.75rem 2rem;
	}

	.reviewSection > div h1 {
		font-size: 1.4rem;
	}

	.writeReviewButton {
		padding-inline: 2rem;
	}

	.writeReviewButton .longText {
		display: none;
	}

	.writeReviewButton .shortText {
		display: initial;
	}
}

@media screen and (max-width: 600px) {
	.addToCartContainer {
		flex-direction: column;
	}
}
